<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- 控制台输出日志信息 -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss SSS\} %-5p] %c - %m%n" />
		</layout>
	</appender>

	<!-- Application Loggers -->
	<logger name="com.test.sharksharding">
		<level value="debug" />
	</logger>
	<logger name="com.sharksharding">
		<level value="debug" />
	</logger>
	<!-- 避免druid抛出javax.management.InstanceAlreadyExistsException异常 -->
	<logger name="com.alibaba.druid.stat.DruidDataSourceStatManager">
		<level value="off" />
	</logger>
	<logger name="org.springframework">
		<level value="info" />
	</logger>
	<logger name="druid.sql">
		<level value="info" />
	</logger>
	<!-- 指定logger的设置，additivity指示是否遵循缺省的继承机制 -->
	<logger name="com.runway.bssp.activeXdemo" additivity="false">
		<priority value="info" />
		<appender-ref ref="activexAppender" />
	</logger>

	<!-- 根logger的设置 -->
	<root>
		<priority value="info" />
		<appender-ref ref="console" />
	</root>
</log4j:configuration>
